body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 50px;
    font-size: 36px;
}

button {
    /*background-color: #4CAF50;
    color: white;*/
    padding: 10px 20px;
    /*border: none;
    border-radius: 4px;*/
    cursor: pointer;
    margin-top: 50px;

    width: 70px;
    height: 36px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #B7B7B7;


    /* Inside auto layout */
    display: flex;
    flex-direction: none;
    align-items: flex-start;
    padding: 11px 26px;
    gap: 10px;

    position: relative;
    width: 109px;
    height: 60px;

    background: #7C96AB;
    box-shadow: 0px 4px 10px
        rgba(0, 0, 0, 0.07);
    border-radius: 5px;

    
}

form {
    margin-top: 50px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 5px #B7B7B7;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #7C96AB;
    color: #BFCCB5;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
